<h4>Add a New Place</h4>
<form action="/places/create">
	Title: <input type="text" name="title"><br>
	<br>
	Photo URL: <input type="text" name="photo_url"><br>
	<br>
	Price: <input type="text" name="price"><br>
	<br>
	Description: 
	<br><textarea rows="5" cols="60" name="description"> </textarea>
	<br>
	<input type="submit" value="Submit" name="Submit" />
</form>

